.app-container {
  text-align: center;
  margin-top: 50px;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: auto;
}

.button-group button {
  background-color: #45200a; /* Default color */
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 40%;
}

.button-group button img {
  margin-right: 10px;
  height: 20px;
}

.button-group button.active {
  background-color: #c57843; /* Active color */
}

.button-group button:focus {
  outline: none;
}

.chart-container {
  height: 600px;  
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;  
}